<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <button id="btn">按钮</button>
<script>
    var handler = {
        message: "Event handled",
        handleClick: function(event){
            alert(this.message);
        }
    };
    function h () {
        this.name = name;
        this.handleClick = function(){
            alert(this + "hello");
            console.log(this + "hello");
        }
    };
    var btn = document.getElementById("btn");
    alert("handler.handleClick()")
    alert("handler.handleClick()" + handler.handleClick());
    var h = new h();
    alert("h.handleClick()" + h.handleClick());
    btn.addEventListener("click",function () { h.handleClick() } );


    // h.handleClick();
</script>
</body>
</html>