<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="depart_list"></table>
<script src="../layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#depart_list'
            ,url:'/depart/selectDepartInfo'
            ,parseData: function(res){ //res 即为原始返回的数据
                console.log(res);
                console.log(res.data);
                console.log(res.data.employees);
                // console.log(res.data.employees.id);
                return {
                    "code": res.code, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,cols: [[
                {field:'id', title: '部门号', sort: true}
                ,{field:'name',  title: '部门名'}
                ,{field:'emp_id',  title: '员工号', templet: '#emp_id'}
                ,{field:'name', title: '部门主管',templet: '#emp_name'}
                ,{field:'phone', title: '电话', minWidth: 150,templet: '#phone'}
            ]]
            ,page: true
        });
    });
</script>
<!--用模板引擎渲染数据 start-->
<script type="text/html" id="emp_name">
    <a href="/depart/selectDepartInfo/" class="layui-table-link"></a>
    <!--{{d.employees.id}}-->
    <ul>
        {{#  layui.each(d.employees, function(index, item){ }}
        <li>
            <span>{{item.name}}</span>
        </li>
        {{#  }); }}
    </ul>
</script>
<script type="text/html" id="phone">
    <a href="/depart/selectDepartInfo/" class="layui-table-link"></a>
    <!--{{d.employees.id}}-->
    <ul>
        {{#  layui.each(d.employees, function(index, item){ }}
        <li>
            <span>{{item.phone}}</span>
        </li>
        {{#  }); }}
    </ul>
</script>
<script type="text/html" id="emp_id">
    <a href="/depart/selectDepartInfo/" class="layui-table-link"></a>
    <!--{{d.employees.id}}-->
    <ul>
        {{#  layui.each(d.employees, function(index, item){ }}
        <li>
            <span>{{ item.id }}</span>
        </li>
        {{#  }); }}
    </ul>
</script>
<!--用模板引擎渲染数据 end-->

</body>
</html>