<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <!--<style>-->
        <!--.layui-form-select:hover {-->
            <!--background-color: #F0F0F0;-->
        <!--}-->
    <!--</style>-->
    <style>
        #form-tool{
            text-align:center;
            height: 39px;
        }
    </style>
</head>
<body>
<script type="text/html" id="empToolbar">
<form class="layui-form layui-form-pane" id="form-tool">
    <div class="layui-form-item layui-inline">
        <div class="layui-input-inline">
                <input type="text" autocomplete="off" id="ipt" class="layui-input" placeholder="员工号/员工名/部门名">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <div class="layui-input-inline " style="width: 100px">
            <select name="selected" lay-filter="selecting">
                <option value="">请选择</option>
                <option value="1">员工号</option>
                <option value="2">员工名</option>
                <option value="3">部门名</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button type="button" class="layui-btn" lay-submit lay-filter="find">查找</button>
        <button type="button" class="layui-btn" lay-submit lay-filter="show_all">显示全部</button>
    </div>
</form>
</script>

<table class="layui-hide" id="employee_list"></table>
<!--<script src="../layui/myindex.js" charset="utf-8"></script>-->
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/jquery-3.3.1.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script src="../js/emp.js"></script>

<!--模板引擎渲染数据 start-->
<script type="text/html" id="job_name">
    <a href="/emp/selectAllEmp/"  class="layui-table-link"></a>
    <span>{{d.job.name}}</span>
</script>
<script type="text/html" id="depart_name">
    <a href="/emp/selectAllEmp/"  class="layui-table-link" ></a>
    {{d.department.name}}
</script>

<!--模板引擎渲染数据 end-->
</body>
</html>