<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

    <!--<style>-->
        <!--.layui-form-select:hover {-->
            <!--background-color: #F0F0F0;-->
        <!--}-->
    <!--</style>-->
</head>
<body>

<form class="layui-form layui-form-pane" style="text-align: center; margin-top: 25px;">
    <div class="layui-form-item layui-inline">
        <div class="layui-input-inline">
                <input type="text" autocomplete="off" id="ipt" class="layui-input" placeholder="员工号/员工名/部门名">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <div class="layui-input-inline " style="width: 100px">
            <select name="selected" lay-filter="selecting">
                <option value="">请选择</option>
                <option value="1">员工号</option>
                <option value="2">员工名</option>
                <option value="3">部门名</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button type="button" class="layui-btn" lay-submit lay-filter="find">查找</button>
        <button type="button" class="layui-btn" lay-submit lay-filter="show_all">显示全部</button>
    </div>
</form>


<table class="layui-hide" id="employee_list"></table>
<!--<script src="../layui/myindex.js" charset="utf-8"></script>-->
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/jquery-3.3.1.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['table','layer','form'], function(){
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;

        /*form.on('select(selecting)', function(data){
            console.log(data.elem); //得到select原始DOM对象
            console.log(data.value); //得到被选中的值
        });*/

        var params = {};
        form.on('submit(find)', function(data){
            var val = $("#ipt").val();
            console.log(val);
            if (val == ""){
                alert("请输入查询")
            }else {
                console.log("拿到val= " + val)
                var selected = data.field.selected;
                if (selected == "") {
                    alert("请选择查询类型")
                } else {
                    if (selected == 1) {
                        if (!isNaN(val)) { //isNaN 判断是否为非数字，
                            params = {
                                empId: val
                            }
                        } else {
                            console.log("selected == " + val)
                            alert("请输入正确的员工号")
                        }
                    }
                    if (selected == 2) {
                        if (isNaN(val)) { //isNaN 判断是否为非数字，
                            params = {
                                name: val
                            }
                        } else {
                            console.log("selected == " + val)
                            alert("请输入正确的员工名")
                        }
                    }

                    if (selected == 3) {
                        if (isNaN(val)) { //isNaN 判断是否为非数字，
                            params = {
                                departName: val
                            }
                        } else {
                            console.log("selected == " + val)
                            alert("请输入正确的部门名")
                        }
                    }
                }
            }
            // return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            $.ajax({
                url:'/emp/selectAllEmp',
                type: 'GET',
                data: params,
                dataType: 'json',
                success: function (res) {
                    table.render({
                        elem: '#employee_list',
                        data: res.data,
                        cols: [[
                            {field:'id', title: '员工号',sort: true}
                            ,{field:'name', title: '员工名'}
                            ,{field:'sex',  title: '性别'}
                            ,{field:'age',  title: '年龄',sort: true}
                            ,{field:'inerDate', title: '入职时间',sort: true}
                            ,{field:'job_name', title:'职位',templet: '#job_name'}
                            ,{field:'department_name',  title: '所属部门',templet: '#depart_name'}
                        ]]
                        ,page: true
                    });
                },
                error: function () {
                    alert("请求信息发生异常");
                }
            })
        });
        //显示全部
        form.on('submit(show_all)', function(data){
            table.render({
                elem: '#employee_list',
                url:'/emp/selectAllEmp',
                type: 'GET',
                // contentType:'application/json',
                request: {
                    pageName: 'page', //页码的参数名称，默认：page
                    limitName: 'limit' //每页数据量的参数名，默认：limit
                },
                response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    ,statusCode: 0 //规定成功的状态码，默认：0
                    ,msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    ,countName: 'count' //规定数据总数的字段名称，默认：count
                    ,dataName: 'data' //规定数据列表的字段名称，默认：data
                },
                parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": "", //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                cols: [[
                    {field:'id', title: '员工号',sort: true}
                    ,{field:'name', title: '员工名'}
                    ,{field:'sex',  title: '性别'}
                    ,{field:'age',  title: '年龄',sort: true}
                    ,{field:'inerDate', title: '入职时间',sort: true}
                    ,{field:'job_name', title:'职位',templet: '#job_name'}
                    ,{field:'department_name',  title: '所属部门',templet: '#depart_name'}
                ]]
                ,page: true
            });
        })


        //页面初始化
        table.render({
            elem: '#employee_list',
            url:'/emp/selectAllEmp',
            type: 'GET',
            // contentType:'application/json',
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                ,statusCode: 0 //规定成功的状态码，默认：0
                ,msgName: 'msg' //规定状态信息的字段名称，默认：msg
                ,countName: 'count' //规定数据总数的字段名称，默认：count
                ,dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            cols: [[
                {field:'id', title: '员工号',sort: true}
                ,{field:'name', title: '员工名'}
                ,{field:'sex',  title: '性别'}
                ,{field:'age',  title: '年龄',sort: true}
                ,{field:'inerDate', title: '入职时间',sort: true}
                ,{field:'job_name', title:'职位',templet: '#job_name'}
                ,{field:'department_name',  title: '所属部门',templet: '#depart_name'}
            ]]
            ,page: true
        });
    });

</script>
<!--用模板引擎渲染数据 start-->
<script type="text/html" id="job_name">
    <a href="/emp/selectAllEmp/"  class="layui-table-link"></a>
    <span>{{d.job.name}}</span>
</script>

<script type="text/html" id="depart_name">
    <a href="/emp/selectAllEmp/"  class="layui-table-link" ></a>
    {{d.department.name}}
</script>
<!--用模板引擎渲染数据 end-->
<!--<script type="text/javascript">-->
    <!--$(function () {-->
        <!--$("#job_name>#job").click(function (e) {-->
            <!--console.log(111)-->
            <!--e.preventDefault();-->
        <!--});-->
    <!--})-->
<!--</script>-->

</body>
</html>