<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        .form-tool{
            height: 39px;
        }
        .ipt-find{
            left: 20%;
        }
        /* 鼠标移动到链接上 */
        a:hover {
            color: #555e68;
            cursor:pointer;
            text-decoration: underline;
        }
    </style>
</head>

<table class="layui-hide" id="file_list" lay-filter="file_list"></table>
<!--<table class="layui-table" id="file_list"></table>-->


<!--头部工具栏-->
<script type="text/html" id="hearToolbar">
        <form class="layui-form layui-form-pane form-tool">
            <div class="layui-form-item layui-inline">
                <button type="button" class="layui-btn layui-btn-sm" lay-event="findAll"  lay-filter="findAll"  id="findAll">查看全部文件</button>
                <button type="button" class="layui-btn layui-btn-sm" lay-event="findDepart"  lay-filter="findDepart" id="findDepart">只看部门文件</button>
                <!--<button type="button" class="layui-btn layui-btn-sm" lay-event="down_more_File"  lay-filter="down_more_File"  id="down_more_File">-->
                    <!--<i class="layui-icon">&#xe601;</i> 批量下载</button>-->

                <button type="button" class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="myFile" lay-filter="myFile" id="myFile">
                    <i class="layui-icon">&#xe66f;</i>管理我的文件</button>

                <button type="button" class="layui-btn layui-btn-sm" lay-event="upload"  lay-filter="upload" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传文件</button>
            </div>
                <div class="layui-form-item layui-inline ipt-find">
                    <div class="layui-input-inline">
                        <input type="text" name="fileName" autocomplete="off" class="layui-input ipt" placeholder="请输入文件名">
                    </div>
                </div>

            <!--&lt;!&ndash;防止回车事件&ndash;&gt;-->
            <!--<div class="layui-form-item layui-inline" style="display:none;">-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="fileName" autocomplete="off"  class="layui-input ipt" placeholder="请输入文件名">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;防止回车事件&ndash;&gt;-->

                <div class="layui-form-item layui-inline ipt-find">
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" lay-submit lay-filter="find">查找</button>
                    </div>
                </div>
        </form>
</script>
<!--头部工具栏-->


<!--管理文件头部工具栏-->
<script type="text/html" id="myHearToolbar">
    <form class="layui-form layui-form-pane form-tool">
        <div class="layui-form-item layui-inline">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="findAll"  lay-filter="findAll"  id="findAll1">查看全部文件</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-event="findDepart"  lay-filter="findDepart" id="findDepart1">只看部门文件</button>
            <!--<button type="button" class="layui-btn layui-btn-sm" lay-event="down_more_File"  lay-filter="down_more_File"  id="down_more_File1">-->
                <!--<i class="layui-icon">&#xe601;</i> 批量下载</button>-->

            <button type="button" class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="del_more" lay-filter="del_more" id="del_more">
                <i class="layui-icon">&#xe640;</i>批量删除</button>

            <button type="button" class="layui-btn layui-btn-sm" id="upload1" lay-event="upload1"  lay-filter="upload1">
                <i class="layui-icon">&#xe67c;</i>上传文件</button>
        </div>

        <div class="layui-form-item layui-inline ipt-find">
            <div class="layui-input-inline">
            <input type="text" name="fileName" autocomplete="off"  class="layui-input ipt" placeholder="请输入文件名">
            </div>
        </div>

            <!--&lt;!&ndash;防止回车事件&ndash;&gt;-->
            <!--<div class="layui-form-item layui-inline" style="display:none;">-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="fileName" autocomplete="off"  class="layui-input ipt" placeholder="请输入文件名">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;防止回车事件&ndash;&gt;-->
        <div class="layui-form-item layui-inline ipt-find">
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" lay-submit lay-filter="find1">查找</button>
            </div>
        </div>
    </form>
</script>
<!--管理文件头部工具栏-->


<!--列工具栏-->
<script type="text/html" id="rowToolbar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--列工具栏-->

<script type="text/html" id="download">
    <a class="">{{d.fileName}}</a>
</script>

<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/file.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</body>
</html>